@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --neutrals-n800: #172b4d;
  --neutrals-n600: #344563;
  --neutrals-n400: #505f79;
  --neutrals-n300: #5e6c84;
  --neutrals-n100: #7a869a;
  --neutrals-n60: #b3bac5;
  --neutrals-n50: #c1c7d0;
  --neutrals-n40: #dfe1e6;
  --neutrals-n10: #f7f7f9;
  --primary: #396df2;
  --primary-b50: #ebebff;
  --primary-b200: #a7aeff;
  --primary-b400: #6070ff;
  --primary-b300: #7f8cff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: var(--neutrals-n800);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: var(--primary-b50);
}

.btn {
  padding: 0.75rem;
  border: 1px solid var(--primary-b300);
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  color: var(--primary-b400);
  text-decoration: none;
  background: white;
  cursor: pointer;
  transition-property: color, background;
  transition-duration: 300ms;
}

.btn:hover {
  background: var(--primary-b400);
  color: white;
  box-shadow: 0 0.5rem 1rem rgba(64, 83, 252, 0.24);
}

.btn:active {
  background: #2230d2;
}

.btn.disabled,
.btn.disabled:hover {
  color: #5e6c84;
  border-color: var(--neutrals-n50);
  background: white;
  box-shadow: none;
}

header {
  background: white;
}

.navbar > * {
  animation-duration: 1s;
  animation-name: headerSlideDown;
  animation-timing-function: ease-out;
}

@keyframes headerSlideDown {
  0% {
    transform: translateY(-6rem);
  }

  100% {
    transform: translateY(0);
  }
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 3rem;
  padding: 0.25rem 1.5rem;
}

header .logo a {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--primary-b400);
  padding: 0.625rem 0.75px;
  text-decoration: none;
}

header nav {
  display: none;
}

header .menu-toggle {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#hero {
  background: white url(./assets/img/header-shapes-mobile.svg) center 0 no-repeat;
  min-height: 75vh;
  background-size: 100%;
  border-bottom-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem;
  animation-name: heroSlideUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 500ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes heroSlideUp {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#hero h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
}

#hero p {
  color: var(--neutrals-n600);
}

#hero h3 {
  text-transform: uppercase;
  color: var(--primary-b300);
  font-size: 1rem;
  font-weight: 500;
}

#hero ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 1.25rem;
  font-size: 1.25rem;
}

#hero ul a {
  color: var(--neutrals-n400);
}

#works {
  display: grid;
  grid-template-columns: 1fr;
  padding: 7.125rem 1.5rem;
  gap: 5.5rem;
}

.works-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
  transition-duration: 300ms;
  transition-property: border-color, box-shadow;
}

.works-card:hover {
  border-color: var(--primary-b200);
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.works-card img {
  width: 100%;
  border-radius: 0.5rem;
}

.works-card .info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.works-card .info .title {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.works-card .info .title h2 {
  font-size: 2rem;
}

.works-card .info .meta {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: var(--neutrals-n100);
  font-size: 0.8125rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.works-card .info .meta span:first-child {
  color: var(--neutrals-n600);
  text-transform: uppercase;
}

.works-card .info .meta i {
  font-size: 0.5rem;
  color: var(--neutrals-n50);
}

.works-card .info p.description {
  color: var(--neutrals-n600);
  line-height: 1.5rem;
}

.works-card .info ul.techs {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.works-card .info ul.techs li {
  background: var(--primary-b50);
  color: var(--primary-b400);
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.works-card .info .action {
  display: flex;
  padding: 0.75rem 0;
}

#about {
  background: white;
  padding: 7.125rem 1.5rem;
  border-top-right-radius: 5rem;
}

#about .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#about .top {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#about .top h2 {
  font-size: 2.5rem;
  line-height: 3.25rem;
}

#about .top p {
  color: var(--neutrals-n600);
}

#about .top h3 {
  text-transform: uppercase;
  color: var(--primary-b300);
  font-size: 1rem;
  font-weight: 500;
}

#about .top ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 1.25rem;
  font-size: 1.25rem;
}

#about .top ul a {
  color: var(--neutrals-n400);
}

#about .top .action {
  display: flex;
}

#about .btn {
  animation-name: shakeButton;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shakeButton {
  0% {
    transform: translateX(3px);
  }

  2% {
    transform: translateX(-6px);
  }

  4% {
    transform: translateX(3px);
  }

  6% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

#about .skill-list ul {
  list-style: none;
  padding: 0;
}

#about ul.skill-sets > li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--neutrals-n40);
}

#about ul.skill-sets > li .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0.75rem;
}

#about ul.skill-sets > li .title h4 {
  font-size: 1.25rem;
  font-weight: 500;
  color: black;
}

#about ul.skill-sets > li i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  color: var(--neutrals-n300);
}

#about ul.skill-sets > li.active {
  border-bottom: none;
}

#about ul.skill-sets > li.active i {
  transform: rotate(90deg);
}

#about ul.skill-sets > li .skill-items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0.75rem;
}

#about ul.skill-sets > li .skill-items li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--neutrals-n10);
  border-radius: 0.5rem;
  padding: 0.75rem;
}

#about ul.skill-sets > li .skill-items li img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#contact {
  background:
    var(--primary-b400)
    url(./assets/img/contact-form-shapes-mobile.svg) right 2rem no-repeat;
  position: relative;
  border-top-left-radius: 5rem;
  padding: 7.125rem 1.5rem;
}

#contact .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
  color: white;
}

#contact .white-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: white;
  z-index: -1;
}

#contact h2.contact-title {
  font-size: 2.5rem;
}

#contact p.contact-text {
  color: var(--primary-b50);
  font-size: 1.125rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  margin-top: 2rem;
}

#contact form input,
#contact form textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #cfd8dc;
  font-size: 1.0625rem;
  color: var(--neutrals-n800);
}

#contact form input::placeholder,
#contact form textarea::placeholder {
  color: var(--neutrals-n60);
}

#contact form .btn {
  align-self: start;
}

@media (min-width: 992px) {
  .container > * {
    max-width: 1155px;
    margin: auto;
  }

  header {
    height: 4.5rem;
  }

  header nav {
    display: block;
  }

  #main-menu ul {
    display: flex;
    list-style: none;
    gap: 0.625rem;
  }

  #main-menu a {
    color: var(--neutrals-n600);
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-decoration: none;
    padding: 0.625rem 0.75rem;
  }

  header .menu-toggle {
    display: none;
  }

  #hero {
    background: white url(./assets/img/header-bg.svg) center 0 no-repeat;
    background-size: 100%;
    border-bottom-left-radius: 9rem;
    min-height: 100vh;
  }

  #hero .wrapper {
    width: 75%;
    max-width: 58rem;
  }

  #hero h1 {
    font-size: 3rem;
    line-height: 3.75rem;
    max-width: 24rem;
  }

  #hero p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .works-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .works-card > .info {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .works-card > .info .title h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .works-card .meta * {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .works-card:nth-child(even) .info {
    order: -1;
  }

  .works-card .info p.description {
    font-size: 1rem;
  }

  #about {
    padding: 8.875rem 1.5rem 8.375rem;
    border-top-right-radius: 9rem;
  }

  #about .wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1.5rem;
  }

  #about .top h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  #about .top .action {
    margin-top: 0.75rem;
  }

  #about ul.skill-sets > li .skill-items {
    flex-direction: row;
  }

  #about ul.skill-sets > li .skill-items li {
    flex-direction: column;
    align-items: start;
    min-width: 122px;
  }

  #contact {
    background:
      var(--primary-b400)
      url(./assets/img/contact-form-bg-shapes.svg) top 5rem center no-repeat;
    background-size: 90%;
    border-top-left-radius: 9rem;
  }

  #contact .wrapper {
    max-width: 36rem;
    align-items: center;
  }

  #contact form {
    align-items: center;
    width: 28rem;
  }

  #contact form > *:not(.btn) {
    width: 100%;
  }

  #contact form .btn {
    align-self: center;
  }
}
